---
import Layout from "../layouts/Layout.astro";
export const prerender = false; // Disable static prerendering
---

<Layout pageTitle="why??">
    <p>in a discord server with friends, i created a "song of the day" channel mainly cause i was bored (and also to show my friends what my music taste is like cause uhh,h,,, idk i'm not sure)</p>

    <p>then after a while i kinda got too lazy and stopped updating it! then i told my friends<br>
    "I'll make a website so YOU guys can have a new song cause y'all are too obsessed"</p>

    <p>did that, how i managed to get it to work is on the <a href="/how-it-works">HOW IT WORKS</a> page, told my friends it was done, blah blah blah</p>
    <p>i know there are already a ton of "song of the day" sites, but i wanted to make my own anyway cause i was bored!</p>

    <p>ok bye</p>
</Layout>
