---
import Layout from "../layouts/Layout.astro";
export const prerender = false; // Disable static prerendering
---

<Layout pageTitle="why??">
    <p>huh, this is just a longer version of the home page</p>
    <p>uhh, anyway</p>
    <p>a while ago, i randomly just started doing a "song of the day" thing for no reason. eventually, me and my friends decided "hey, maybe this could be like a real server thing that you do everyday"</p>

    <p>as i was listening to music, (like i always do) i updated the channel, everyday. overtime i kept forgetting to do song of the day, or just noot wanting to do it at all (i'm #lazy :))</p>
    <p>i told my friends i would make something that would make it automatic. this is that thing.</p>
    <p>ok bye</p>
</Layout>
