---
import Layout from "../layouts/Layout.astro";
export const prerender = false; // Disable static prerendering
---

<Layout pageTitle="how it works">
    <p>
        "hey aiden, how did you actually manage to do this?"<br>
        i used spotify's api
    </p>
    <p>
        "did you manually pick songs?"<br>
        uh, no. (this website wouldn't exist if i did)
    </p>
    <p>
        "Wwhat did you do?"<br>
        search up songs and automatically pick one everyday
    </p>

    <p>that's it</p>
</Layout>
