---
import Layout from "../layouts/Layout.astro";
export const prerender = false; // Disable static prerendering
---

<Layout pageTitle="how it works">
    <p>i basically just made some requests to spotify's api. what it does is it basically searches up a song on spotify with some random search prompts, and picks one of the 50 (i think it was 50) songs using the day as the seed.</p>

    <p>and uh based on that i add the information to the page</p>

    <p>that's it</p>
</Layout>
