---
import Layout from "../layouts/Layout.astro";
export const prerender = false; // Disable static prerendering
---

<Layout pageTitle="song of the day">
    <p>
        i had a #song-of-the-day channel in a friend server i was in, and i
        wasn't posting on there as much so i made this!
    </p>
</Layout>
