---
import Layout from "../layouts/Layout.astro";
export const prerender = false; // Disable static prerendering
---

<Layout pageTitle="song of the day">
    <p>
        i had a #song-of-the-day channel in a friend server i was in, and i wasn't posting on there as much so i made this!
    </p>

    <!-- <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/track/60b6B2ULC85t4Y5IjZvP7A?utm_source=generator"
        width="100%"
        height="152"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe> -->
</Layout>
