---
interface Props {
    title: string;
    album: string;
    artist: string;
    explciit: boolean;
    coverURL: string;
}

import Image from "astro/components/Image.astro";

import spotifyLogo from "../assets/spotify_logo.svg";

import ExplicitIcon from "../components/icons/ExplicitIcon.astro";
---

<article
    class="text-left shadow-outline2xl rounded-3xl overflow-hidden clearfix m-auto mb-20 w-full"
>
    <!-- <img
        src={Astro.props.coverURL}
        class="float-left size-32 rounded-lg mr-4"
    /> -->
    <div class="flex items-center">
        <Image
            src={Astro.props.coverURL || "/fallback.png"}
            alt="loading..."
            class="rounded-lg shadow-xl ml-4 my-4 w-48"
            loading="eager"
            width={256}
            height={256}
        />
        <div class="overflow-hidden mt-2">
            <div
                class="overflow-hidden [mask-image:linear-gradient(to_right,transparent,#000_1rem,#000_90%,transparent)]"
            >
                <div
                    class="flex flex-row items-center gap-2 pl-4 mb-4 mt-1 w-[34rem] max-w-full min-w-0"
                >
                    <h2 class="whitespace-nowrap m-0 text-6xl">
                        {Astro.props.title || "default title"}
                    </h2>

                    {Astro.props.explciit ? <ExplicitIcon /> : null}
                </div>
            </div>

            <div
                class="flex sm:flex-col flex-row sm:gap-0 gap-2 w-[34rem] max-w-full min-w-0"
            >
                <p class="pl-4 mb-0 text-xl">
                    <b>{Astro.props.album || "default album"}</b>
                </p>
                <p class="sm:pl-4 pl-0 text-xl">
                    {Astro.props.artist || "default artist"}
                </p>
            </div>
        </div>
    </div>
</article>

<div class="flex flex-row justify-center items-center gap-2 mt-4">
    <p class="mt-4 text-base">music data provided by</p>
    <img src={spotifyLogo.src} class="h-8" alt="Spotify icon" />
</div>

<style>
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
